@media only screen and (max-width: 1617px){
    * {
    }
    html {
    }
    .body {
    }
    .body.dark {
    }
    .body::after {
    }
    .body.light::after {
        background: url('../media/backGroundLightBigTaplate.png');
        background-size: cover;
    }
    .body.dark::after {
        background: url('../media/backGroundDarkBigTaplate.png');
        background-size: cover;
    }
    /* ======================================= */

    /* Navbar */
    .navContainer {
        
    }
    .navContainer.light {
    }
    .navContainer.dark {
    }
    .navContent {
    }
    /* Logo Detailes */
    .logoInfo {
        margin-top: 15px;
    }
    .logoImg {
        display: none;
    }
    .logoImg img {
    }
    .logoTitle {
        display: block;
    }
    .logoTitle p {
        /* font-size: 0.75em; */
    }
    .navMobileMenu {
    }
    .navMobileMenu.activate{
    }
    .navMobileMenu span {
    }
    /* Website Sections */
    .ulContainer {
    }
    .ulContainer ul {
    }
    .ulContainer ul li {
    }
    .navContainer.dark .ulContainer ul li {
    }
    .ulContainer ul li.clicked {
    }
    .navContainer.dark .ulContainer ul li.clicked {
    }
    .ulContainer ul li a {
    }
    .ulContainer ul li.clicked a {
    }
    .navContainer.dark .ulContainer ul li.clicked a {
    }
    .ulContainer ul li.clicked a::before {
    }
    .ulContainer ul li.clicked a::after {
    }
    .navContainer.dark .ulContainer ul li.clicked a::before {
    }
    .navContainer.dark .ulContainer ul li.clicked a::after {
    }
    .ulContainer ul li a .icon {
        min-width: 35px;
        font-size: 1.5em;
    }
    .ulContainer ul li.clicked a .icon {
        font-size: 1.75em;
    }
    .ulContainer ul li a .fa-home {
    }
    .ulContainer ul li a .title {
    }
    /* Dark Mood Controls */
    .darkModeContainer {
    }
    .darkModeContainer div {
    }
    .darkModeContainer .clicked {
    }
    /* Time */
    .dateTime {
        font-size: 1em;
    }
    .dateTime .date {
    }
    /* ======================================= */

    /* Main Content */
    .mainContainer {
    }
    /* Top Bar */
    .topBar {
    }
    .mainContainer .topBar {
    }
    .mainContainer.dark .topBar {
    }
    .mainContainer .topBar.activate {
    }
    .mainContainer .forLightDesktop {
    }
    .mainContainer.dark .forLightDesktop {
    }
    .mainContainer .forDarkDesktop {
    }
    .mainContainer.dark .forDarkDesktop {
    }
    .mainContainer .topBar .logo img {
    }
    .topBar .forLightMobile,
    .topBar .forDarkMobile {
    }
    .topBar .search {
    }
    .search .searchContainer {
    }
    .topBar .search input {
    }
    .topBar .search input::-webkit-input-placeholder {
    }
    .topBar .search input::-moz-placeholder {
    }
    .topBar .search input:-ms-input-placeholder {
    }
    .topBar .search input::-ms-input-placeholder {
    }
    .topBar .search input::placeholder {
    }
    .topBar .search i {
    }
    .topBar .search input[type='submit'] {
    }
    .menuMobile {
    }
    .menuMobile.activate{
    }
    .menuMobile span {
    }
    /* ======================================= */

    /* Website Content */
    /* Home */
    .homePage,
    .sectionsPage,
    .lastNewsPage,
    .contactPage {
    }
    .mainContainer.dark .homePage {
    }
    #particles-js {
    }
    .homeContent {
    }
    .homeContent div {
    }

    /* Home Info Section */
    .homeContent .homeInfo {
    }
    .homeInfo .homeLogoImg,
    .homeInfo .homeInfoTitle, 
    .homeInfo .homeBtns {
    }

    /* Logo */
    .mainContainer.light .homeInfo .light {
    }
    .mainContainer.light .homeInfo .dark {
    }
    .mainContainer.dark .homeInfo .light {
    }
    .mainContainer.dark .homeInfo .dark {
    }
    .homeInfo .homeLogoImg {
    }
    .homeInfo .homeLogoImg img {
    }

    /* Title */
    .homeInfo .homeInfoTitle {
    }
    .homeInfoTitle h6 {
        font-size: 2em;
    }
    .homeInfoTitle .Eng {
    }
    .mainContainer.light .homeInfoTitle .Eng {
    }
    .mainContainer.dark .homeInfoTitle .Eng {
    }
    .mainContainer.light .homeInfoTitle h6 {
    }
    .mainContainer.dark .homeInfoTitle h6 {
    }
    .mainContainer.light .homeInfoTitle h6 span {
    }
    .mainContainer.dark .homeInfoTitle h6 span {
    }
    .homeInfoTitle p {
        font-size: 1em;
    }
    .mainContainer.light .homeInfoTitle p {
    }
    .mainContainer.dark .homeInfoTitle p {
    }

    /* Action Call Btns */
    .homeInfo .homeBtns {
    }
    .homeBtns a {
        width: 35%;
        height: 40px;
    }
    .homeBtns a:hover {
    }
    .homeBtns a::before {
    }
    .homeBtns a:hover::before {
    }
    .mainContainer.dark .homeBtns a::before {
    }
    .mainContainer.light .homeBtns a {
    }
    .mainContainer.dark .homeBtns a {
    }

    /* Home Background Section  */
    .homeContent .homeBackDesign {
    }
    .homeBackDesign .svgContainer {
        width: 80%;
        height: 65%;
    }
    .svgContainer img {
    }
    .homeContent .homeBackDesign img {
    }
    .mainContainer.light .svgContainer .light {
    }
    .mainContainer.light .svgContainer .dark {
    }
    .mainContainer.dark .svgContainer .light {
    }
    .mainContainer.dark .svgContainer .dark {
    }
    
    /* ============================================== */

    /* Sections page */
    .sectionsPage {
    }
    .sectionsContent {
    }
    .mainContainer.light .sectionsContent {
    }
    .mainContainer.dark .sectionsContent {
    }
    .sectionsContent::-webkit-scrollbar {
    }
    .mainContainer.light .sectionsContent::-webkit-scrollbar-thumb {
    }
    .sectionsInfo {
    }
    .sectionsInfo div {
    }
    .infoContent {
    }
    .infoContent h3 {
        font-size: 1em;
    }
    .infoContent p {
        font-size: 0.75em;
    }
    .mainContainer.light .infoContent {
    }
    .mainContainer.dark .infoContent {
    }
    .websiteControls {
        width: 50%;
    }
    .websiteControls a {
    }
    .websiteControls a:hover {
    }
    .mainContainer.light .websiteControls a {
    }
    .mainContainer.dark .websiteControls a {
    }

    .sectionsContainer {
        -ms-grid-columns: (calc(100%/3))[3];
        grid-template-columns: repeat(3, calc(100%/3));
    }
    .section {
    }
    .mainContainer.light .section {
    }
    .mainContainer.dark .section {
    }
    .section:hover {
    }
    .section::before {
    }
    .section:hover::before {
    }
    .mainContainer.dark .section::before {
    }
    .mainContainer.dark .section:hover::before {
    }

    .section .shap {
        font-size: 3.25em;
    }
    .mainContainer.light .section .shap {
    }
    .mainContainer.dark .section .shap {
    }
    .section .description {
    }
    .mainContainer.light .section .description {
    }
    .mainContainer.dark .section .description {
    }
    .description .sectionTitle {
        font-size: 0.75em;
    }
    .description .sectionDescription {
        line-height: 30px;
        font-size: 0.75em;
    }
    .section .actionCallBtn {
    }
    .actionCallBtn a {
    }
    .actionCallBtn a:hover {
    }
    .mainContainer.light .actionCallBtn a {
    }
    .mainContainer.dark .actionCallBtn a {
    }

    /* ============================== */
    .subjectsContainer {
    }
    .subjectsContainer .backBtn, 
    .subjectsContainer .contentContainer {
    }
    .subjectsContainer .backBtn {
    }
    .backBtn .btnShape {
    }
    .backBtn .btnShape:hover {
    }
    .backBtn .btnTitle {
    }
    .mainContainer.light .backBtn .btnShape {
    }
    .mainContainer.light .backBtn .btnTitle {
    }
    .mainContainer.dark .backBtn .btnShape {
    }
    .mainContainer.dark .backBtn .btnTitle {
    }
    .subjectsContainer .contentContainer {
    }
    .mainContainer.light .subjectsContainer .contentContainer {
    }
    .mainContainer.dark .subjectsContainer .contentContainer {
    }
    .contentContainer .sectionDetail, 
    .contentContainer .subjectsContent, 
    .contentContainer .subjectsControls {
    }
    .contentContainer .sectionDetail {
    }
    .sectionDetail .sectionImg {
    }
    .mainContainer.light .sectionDetail .sectionImg {
    }
    .mainContainer.dark .sectionDetail .sectionImg {
    }
    .sectionDetail .sectionControls {
    }
    .mainContainer.light .sectionDetail .sectionControls {
    }
    .mainContainer.dark .sectionDetail .sectionControls {
    }
    .sectionControls a {
    }
    .mainContainer.light .sectionDetail .sectionControls a {
    }
    .mainContainer.dark .sectionDetail .sectionControls a {
    }
    .sectionControls a:hover {
    }
    .sectionControls p {
        max-width: 500px;
    }
    .mainContainer.dark .sectionControls p {
    }

    .subjectsContent {
    }
    .subjectsContent .subjects {
    }

    .subjectsControls {
    }
    .subjectsControls .pageNum {
    }
    .subjectsControls a {
    }
    .subjectsControls a:hover {
    }
    .mainContainer.light .subjectsControls a {
    }
    .mainContainer.dark .subjectsControls a {
    }


    /* ============================================================================= */
    /* Last News Page */
    .lastNewsPage {
    }
    .lastNewsContent {
    }
    .mainContainer.light .lastNewsContent {
    }
    .mainContainer.dark .lastNewsContent {
    }
    .lastNewsContent::-webkit-scrollbar {
    }
    .mainContainer.light .lastNewsContent::-webkit-scrollbar-thumb {
    }
    .lastNewsInfo {
    }
    .lastNewsInfo div {
    }

    .lastNewsContainer {
    }
    .lastNewsSection {
        width: 100%;
    }
    .lastNewsDetail {
    }
    .mainContainer.light .lastNewsSection {
    }
    .mainContainer.dark .lastNewsSection {
    }

    .lastNewsDetail {
    }

    .lastNewsImg {
    }
    .mainContainer.light .lastNewsImg {
    }
    .mainContainer.dark .lastNewsImg {
    }
    .lastNewsControls {
        width: 42.5%;
    }
    .mainContainer.light .lastNewsControls {
    }
    .mainContainer.dark .lastNewsControls {
    }
    .lastNewsControls i {
    }
    .lastNewsControls i:hover {
    }
    .mainContainer.light .lastNewsControls i {
    }
    .mainContainer.dark .lastNewsControls i {
    }
    .lastNewsSecContent {
    }
    .lastNewsSecContent.activate {
    }
    .lastNewsSecContent .subInfo {
    }
    .lastNewsSecContent .subInfo .subImg {
    }
    .lastNewsSecContent .subInfo .subTitle {
    }
    .mainContainer.light .lastNewsSecContent .subInfo .subImg {
    }
    .mainContainer.dark .lastNewsSecContent .subInfo .subImg {
    }
    .mainContainer.dark .lastNewsSecContent .subInfo .subTitle {
    }
    .lastNewsSecContent .subContent {
    }
    .mainContainer.dark .lastNewsSecContent .subContent {
    }

    .lastNewsSecIcons {
    }
    .lastNewsSecIcons i {
    }
    .lastNewsSecIcons .IT,
    .lastNewsSecIcons .LIN {
    }
    .lastNewsSecIcons .DB,
    .lastNewsSecIcons .WIN {
    }
    .lastNewsSecIcons .NET,
    .lastNewsSecIcons .CPP {
    }
    .mainContainer.light .lastNewsSecIcons i {
    }
    .mainContainer.dark .lastNewsSecIcons i {
    }
    .lastNewsSecIcons i:hover {
    }
    .mainContainer.light .lastNewsSecIcons i.activate {
    }
    .mainContainer.dark .lastNewsSecIcons i.activate {
    }

    .lastNewsSecContent .subContent {
    }
    table {
    }
    .mainContainer.light table {
    }
    .mainContainer.dark table {
    }
    table thead {
        font-size: 1em;
    }
    table th,
    table td {
    }
    .mainContainer.dark table th,
    .mainContainer.dark table td {
    }
    table tr {

    }
    .mainContainer.light table thead {
    }
    .mainContainer.dark table thead {
    }
    table thead th {
    }
    table tbody tr {
    }
    .mainContainer.light table tbody tr:nth-child(even) {
    }
    .mainContainer.dark table tbody tr:nth-child(even) {
    }
    tbody .subTitle {
    }
    tbody .subTitle a {
    }
    .mainContainer.light table tbody .subTitle a,
    .mainContainer.light table tbody td {
    }
    .mainContainer.dark table tbody .subTitle a,
    .mainContainer.dark table tbody td {
    }
    table .subWriter,
    table .subDate {
    }
    table .subWriter {
    }
    table .subDate {
    }
    tbody .subTitle,
    table .subWriter,
    table .subDate {
        font-size: 0.75em;
    }
    .subjects tbody .subTitle,
    .subjects table .subWriter,
    .subjects table .subDate {
        font-size: 1em;
    }
    .subjects tbody .subTitle{
        font-size: 1.25em;
    }

    .subActionCall {
    }
    .mainContainer.light .subActionCall {
    }
    .mainContainer.dark .subActionCall {
    }
    .subActionCall:hover {
    }

    .contactPage {
    }
    .contactPageInfo {
    }
    .contactPage .contactContainer {
    }
    .contactContainer .contactMsg {
        width: 77.5%;
        left: 0;
    }
    .mainContainer.light .contactContainer .contactMsg {
    }
    .mainContainer.dark .contactContainer .contactMsg {
    }
    .contactMsg .msgContent {
    }
    .msgContent h3 {
        width: 100%;
        left: 75%;
    }
    .mainContainer.dark .msgContent h3 {
    }
    .msgContent .inputBox {
    }
    .clintName {
    }
    .clintName div {
    }
    .msgContent form {
    }
    .msgContent form span {
    }
    .mainContainer.dark .msgContent form span {
    }
    .msgContent form input,
    .msgContent form textarea {
    }
    .mainContainer.light .msgContent form input,
    .mainContainer.light .msgContent form textarea {
    }
    .mainContainer.dark .msgContent form input,
    .mainContainer.dark .msgContent form textarea {
    }
    .msgContent form textarea {
    }
    .msgContent form textarea::-webkit-scrollbar {
    }
    .msgContent form textarea::-webkit-scrollbar-thumb {
    }
    .mainContainer.light .msgContent form textarea::-webkit-scrollbar-thumb {
    }
    .mainContainer.dark .msgContent form textarea::-webkit-scrollbar-thumb {
    }
    .msgContent form button[type="submit"] {
    }
    .msgContent form button[type="submit"]:hover {
    }
    .mainContainer.light .msgContent form button[type="submit"] {
    }
    .mainContainer.dark .msgContent form button[type="submit"] {
    }
    .contactContainer .contactCard {
        width: 37.5%;
        right: 0;
    }
    .mainContainer.light .contactContainer .contactCard {
    }
    .mainContainer.dark .contactContainer .contactCard {
    }
    .contactCard .websiteInfo {
    }
    .websiteInfo a {
    }
    h6 {
        font-size: 1.25em;
    }
    h6 .highLine {
    }
    .mainContainer.dark h6 .highLine {
    }
    h6 .Eng {
    }

    .contactCard .contactInfo {
    }
    /* Home Contact Section */
    .homeContact {
    }
    .homeContact div {
    }
    .homeSocialCards {
    }
    .homeSocialCards div {
    }
    .homeSocialCards div:hover {
    }
    .mainContainer.dark .homeSocialCards div {
    }
    .mainContainer.light .homeSocialCards div:hover, 
    .mainContainer.dark .homeSocialCards div:hover {
    }

    .homeSocialCards a {
    }
    .mainContainer.light .homeSocialCards a {
    }
    .mainContainer.dark .homeSocialCards a {
    }
    .mainContainer.light .homeSocialCards div:hover a {
    }
    .homeSocialCards div:hover.instagram {
    }
    .homeSocialCards div:hover.telegram {
    }
    .homeSocialCards div:hover.twitter {
    }
    .twitter {
    }

    .contactPage .footer {
    }
    .contactPage .footer h6 {
    }
    .mainContainer.dark .contactPage .footer h6 .highLine {
    }
    .footer .googleAdsense {
    }
    .footer .googleAdsense a {
    }
    .footer .googleAdsense a:hover {
    }
    .contactPage .footer p {
    }
    .mainContainer.dark .svgContainer .dark {
    }
    .sectionsPage {
    }
}